@model Students
<table class="table table-hover table-bordered">
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Age</th>
        <th>Departmentid</th>
    </tr>
        <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Age</td>
        <td>@Model.Departmentid</td>
        </tr>
</table>