@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "MyLayout";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@section Header {
    <p> Header Section</p>
}
@section Footer {
    <p> Footer Section</p>
}