@model MVC_Project.Models.Departments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Departments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEdit" asp-controller="Departments" asp-route-id="@Model.Id" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgrName" class="control-label"></label>
                <input asp-for="MgrName" class="form-control" />
                <span asp-validation-for="MgrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowAll">Back to List</a>
</div>

